{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Expense</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <ul>
        <a href="{% url 'login' %}">Home</a></li>
        <a href="{% url 'register' %}">Register</a></li>
        <a href="{% url 'add_expense' %}">Add Expense</a></li>
        <a href="{% url 'list_expenses' %}">Expenses List</a></li>
    </ul>
    <h1>Add New Expense</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="date">Date:</label>
        <input type="date" name="date" id="date" required><br><br>

        <label for="description">Description:</label>
        <input type="text" name="description" id="description" required><br><br>

        <label for="category">Category:</label>
        <select name="category" id="category">
            <option value="">--Select a category--</option>
            <option value="1">Food</option>
            <option value="2">Transport</option>
            <option value="3">Utilities</option>
        </select><br><br>

        <label for="amount">Amount:</label>
        <input type="number" step="1.00" name="amount" id="amount" required><br><br>

        <label for="payment_method">Payment Method:</label>
        <input type="text" name="payment_method" id="payment_method" required><br><br>

        <button type="submit">Add Expense</button>
    </form>
    <a href="{% url 'list_expenses' %}">Back to Expense List</a>
</body>
</html>
