{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <ul>
        <a href="{% url 'login' %}">Home</a></li>
        <a href="{% url 'register' %}">Register</a></li>
        <a href="{% url 'add_expense' %}">Add Expense</a></li>
        <a href="{% url 'list_expenses' %}">Expenses List</a></li>
    </ul>
    <h2>Register</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
</body>
</html>
